from flask import Flask, render_template

app = Flask(__name__)

# Данные для монет и бирж
coins = ["BTC", "USDT", "ETH", "USDC", "ATOM", "XRP", "XLM", "UNI", "TRX", "SOL",
         "SHIB", "NEAR", "LTC", "LINK", "ETC", "EOS", "DOT", "DOGE", "BCH",
         "AVAX", "APE", "ADA", "OP", "ARB", "POL", "AXS", "ASTR", "ENA",
         "JUP", "DAI", "INJ", "APT", "FLOKI", "KAVA", "REZ", "MANA", "TAO",
         "ZEC", "ACE", "IO", "FLOW", "BB", "FIL", "SEI", "DYM", "DYDX",
         "ICP", "STORJ", "AEVO", "STRK", "MKR", "ETHFI", "NOT", "ZETA", "GRT",
         "SUI", "AI", "W", "ZK", "PEOPLE", "CHZ", "HBAR", "FTM", "AAVE", "BOME",
         "TON", "MANTA", "TRB", "ARKM", "CRV", "LDO", "SUSHI", "SNX", "OMNI",
         "THETA", "AR", "SAND", "PENDLE", "ALGO", "RUNE", "GALA", "MEME",
         "JASMY", "ZRO", "WIF", "BONK", "PEPE", "USDE", "BWB", "CORE", "ONDO",
         "TIA", "BGB", "EIGEN", "LUNA", "BNB", "LUNC"]

exchanges = ["Binance", "Bitget", "Mexc", "Gate", "Okx", "Whitebit"]

@app.route('/')
def index():
    return render_template('index.html', coins=coins, exchanges=exchanges)

if __name__ == "__main__":
    app.run(debug=True)
